@using System.Globalization
@{
    ViewData["Title"] = "Arragro CMS Management";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arragro Ltd - Boutique .Net Azure Solutions</title>
    <meta name="description" content="New Zealand based .Net Azure Specialists helping companies move to the cloud" />
    <meta name="keywords" content="Azure Architecture Deployment .Net ASP.Net MVC" />
    <meta property="og:site_name" content="Arragro Ltd" />
    <meta property="og:url" content="http://www.arragro.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="New Zealand base .Net Azure Specialists helping companies move to the cloud" />
    <meta property="og:title" content="Arragro Ltd - Boutique .Net Azure Solutions and Migrations" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="/dist/main.css" asp-append-version="true" />
</head>
<body>
    <div id="react-app"></div>
    <!-- <div id="react-app"
         asp-prerender-module="ReactApp/boot.tsx"></div> -->

    <script src="/dist/vendor.js" asp-append-version="true"></script>
    <script src="/dist/main.js" asp-append-version="true"></script>
</body>
</html>