@using System.Globalization
@{
    ViewData["Title"] = "Arragro CMS Management";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arragro Ltd - Boutique .Net Azure Solutions</title>
    <meta name="description" content="New Zealand based .Net Azure Specialists helping companies move to the cloud" />
    <meta name="keywords" content="Azure Architecture Deployment .Net ASP.Net MVC" />
    <meta property="og:site_name" content="Arragro Ltd" />
    <meta property="og:url" content="http://www.arragro.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="New Zealand base .Net Azure Specialists helping companies move to the cloud" />
    <meta property="og:title" content="Arragro Ltd - Boutique .Net Azure Solutions and Migrations" />

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="http://cdn.arragro.com/public/images/favicon.ico" />
    <link rel="stylesheet" href="/dist/main.css" asp-append-version="true" />
</head>
<body>
    <div id="react-app"></div>
    <!-- <div id="react-app"
         asp-prerender-module="ReactApp/boot.tsx"></div> -->

    <script src="/dist/vendor.js" asp-append-version="true"></script>
    <script src="/dist/main.js" asp-append-version="true"></script>
</body>
</html>